/* 共通スタイル */
body {
    font-family: Arial, sans-serif;
    font-size: clamp(16px, 1.5vw, 23px);
    margin: 0;
    padding: 0;
    width: 100%;
    color: #000;
  }

  .header {
    margin-bottom: 45px;
    background-color: #000;
    padding: 15px 20px;
    color: #fff;
  }

  .header-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
  }

  .logo {
    width: 300px;
    height: auto;
    margin-right: 50px;
  }

  .search-bar {
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    padding: 10px 10px 10px 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
     /* font-size: clamp(16px, 1.5vw, 23px); */
     font-size: inherit;
  }

  .nav__ul {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav__left-link,
  .nav__center-link,
  .nav__right-link {
    text-decoration: none;
    padding: 5px 15px;
    /* font-size: clamp(16px, 1.5vw, 23px); */
    font-size: inherit;
  }

  .nav__left-link,
  .nav__center-link {
    color: #fff;
    background-color: #000;
    border: none;
  }

  .nav__right-link {
    color: #070707;
    background-color: #f9f5f5;
    border-radius: 5px;
    padding: 5px 30px;
  }

  .nav__right-link:hover {
    text-decoration: underline;
  }
  /* ユーザー */
  .user-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
  }

  .user-profile p {
    font-size: clamp(25px, 2.3vw, 35px);
    font-weight: bold;
    margin-left: 20px;
    }

  .user-profile-image-placeholder {
    justify-self: end;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    background-color: #ddd;
    border-radius: 50%;
    color: #555;
  }

  .user-profile-image {
    width:100%;
    height:100%;
    /* display: flex;
    justify-content: start;
    align-items: center;
    height: 150px; */
    /* border: 2px dashed #ccc; */
    /* border-radius: 5px; */
    /* background-color: #f9f9f9; */
  }

  .user-profile-edit__btn {
    width: fit-content;
    color: #ff6b6b;
    padding: 10px 40px;
    border: 3px solid #ff6b6b;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration-line: none;
    font-weight: bold;
  }

  /* .upload-button:hover {
    background-color: #e65a5a;
  } */

  /* メニューバー */
  .menu {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border-bottom: 1px solid #5b5a5a;
  }

  .menu__left-link {
    margin-left: 150px;
    text-decoration: none;
    color: #636161;
  }

  .menu__right-link {
    margin-left: 50px;
    text-decoration: none;
    color: red;
  }

  .menu__left-link:hover,
  .menu__right-link:hover {
    text-decoration: underline;
  }

  /* 商品リスト */
  .item-list {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    justify-items: center;
    padding: 70px;
  }

  .item-image {
    width: 300px;
    height: 300px;
    background-color: #ddd;
    margin-bottom: 10px;
    color: #555;
  }

  .item-name {
    color: #282828;
    justify-self: start;
  }

  /* レスポンシブ対応 */

  /* タブレット: 768px～850px */
  @media (max-width: 850px) and (min-width: 768px) {
    /* ナビ縦並びバージョン */
    /* .header-container {
      grid-template-columns: auto 1fr;
      gap: 10px;
      }

    .search-bar {
      max-width: 300px;
      font-size: 23px;
    }

    .nav__ul {
      grid-auto-flow: row;
      text-align: start;
      gap: 10px;
    } */

    /* ナビ横並びバージョン */
    .header-container {
      grid-template-columns: auto 1fr;
      gap: 10px;
    }

    .search-bar {
      width: 100%;
      /* max-width: 300px; */
      /* font-size: 23px; */
      font-size: 16px;
    }

    .header-right {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      text-align: center;
      gap: 10px;
    }

    .menu {
      gap: 10px;
      padding: 10px;
    }

    .menu__left-link {
      margin-left: 100px;
    }

    .menu__right-link {
      margin-left: 50px;
    }

    .item-list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      padding: 20px;
      justify-items: center;
    }

    .item-image {
      max-width: 300px;
      height: 300px;
    }
  }

  /* PC: 1400px～1540px */
  @media (max-width: 1540px) and (min-width: 1400px) {
    .header-container {
      gap: 10px;
    }

    .search-bar {
      max-width: 500px;
    }

    .item-list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px;
      padding: 40px;
    }

    .item-image {
      max-width: 300px;
      height: 300px;
    }
  }
